@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  /* Default font is roboto */
  font-family: "Roboto", sans-serif;

  /* Main page is 5 divs stacked on top of each other so I don't need this?*/
  /* display: flex;
  flex-direction: column; */
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero {
  background-color: #1f2937;
  color: white;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.hero-content {
  /* Makes flexible */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 60em;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 1em 0;
}

/* Used in the header logo and banner header */
.medium-header {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
}

.links {
  /* This is to make them appear at the right side of the navbar */
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  /* Remove bullet points from links */
  list-style: none;
}

.hero-main {
  /* Used to split text on left + image on right */
  display: flex;
  justify-content: space-between;
  gap: 5em;
  margin: 4em 0px;
}

/* Smaller text - used in hero main and banner text */
.secondary-text {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  margin: 5px 0px;
}

/* Second section - Content */
.content,
.section {
  background-color: white;
}

/* Used for title of content */
.content-title {
  text-align: center;
  padding: 30px;
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}
/* Collection of images */
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4em;
  padding-bottom: 6em;
}
/* each individual image is a fixed size */
.image {
  flex: 0 0 100px;
  text-align: center;
  font-size: medium;
  color: #1f2937;
}

.image img {
  border: 2px solid #3882f6;
  border-radius: 10px;
}

.code {
  font-family: monospace;
}

/* Quote part */
.quote-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.quote-block {
  /* To make it centralised and flexible */
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 50em;
  padding: 4em;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

.author {
  align-self: flex-end;
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  /* Instead of making this a separate flexbox, just align the text */
  text-align: right;
}

/* Final section - content needs to be centered vertically and horizontally */
.section {
  display: flex;
  align-content: center;
  justify-content: center;
}

.banner {
  background-color: #3882f6;
  padding: 3em 9em;
  margin: 5em;
  display: flex;
  gap: 7em;
  /* Rounded corners */
  border-radius: 0.5em;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  background-color: #3882f6;
  color: white;
  font-size: medium;
  padding: 0.25em 1.5em;
  /* Rounded corners */
  border-radius: 0.5em;
  border: none;
  text-decoration: none;
  font-weight: 400;
}

/* As the other button but with a white border */
.banner .button {
  border: 3px solid white;
  align-self: center;
}

.footer {
  color: white;
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #1f2937;
}
